*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}
::selection{
    background-color: rgba(255,255,255,0.3);
}
/*左侧编辑面板*/
/*头部*/
.leftHeader{
    position: absolute;
    left: 0;
    top: 0;
    width: 30vw;
    height: 50px;
    display: flex;
}
.leftHeader>.headerPin{
    display: flexbox;
    width: calc(30vw / 3);
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: rgb(24, 24, 24);
    color: white;
    letter-spacing: 3px;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}
.leftHeader>.headerPin:hover{
    background-color: rgb(78, 78, 78);
}
.leftHeader>.current{
    background-color: rgb(31, 31, 31);
}
/*操作面板*/
.leftPl{
    position: absolute;
    left: 0;
    top: 50px;
    width: 30vw;
    height: calc(100vh - 50px);
    background-color: rgb(15, 15, 15);
    z-index: 3;
    overflow: scroll;
}
.leftPl::-webkit-scrollbar{
    display: none;
}
.currentDiv{
    z-index: 4;
}
/*敲代码面板*/
.codeDiv .nav>li{
    cursor: pointer;
    position: relative;
    z-index: 5;
}
.codeDiv .nav>li>p{
    padding: 10px 0 10px 10px;
    color: rgb(226, 226, 226);
    letter-spacing: 3px;
    background-color: rgb(31, 31, 31);
    transition: 0.1s ease-in-out;
    z-index: 6;
}
.codeDiv .nav>li:hover p{
    background-color: rgb(78, 78, 78);
}
.codeDiv .sub{
    display: none;
    height: 310px;
    margin-top: -15px;
    z-index: 3;
}
.codeDiv .nav>li>p>span{
    background: url("support/imgs/editor/arrow.png") no-repeat center center;
    background-size: contain;
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 10px;
    top: 13.5px;
    transition: 0.3s ease-in-out;
}
.codeDiv .nav>.current>p>span{
    transform: rotate(90deg);
}
.codeDiv .nav>li>.sub pre{
    display: block;
    margin: 0;
    padding: 0;
    cursor: text;
    z-index: 3;
}
.codeDiv .nav>li>.sub .codePlace{
    display: block;
    width: 30vw;
    height: 300px;
    font-size: 13px;
    background-color: rgb(29, 29, 29);
    outline: none;
    border: none;
    padding: 10px;
    overflow:scroll;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 3;
}
.codeDiv .nav>li>.sub .codePlace::-webkit-scrollbar {
    display: none;
}
/*view*/
.viewDiv .viewPlace{
    font-size: 13px;
    position: absolute;
    left: 0;
    top: 0;
    width: 30vw;
    height: calc(100vh - 50px);
    overflow: scroll;
    background-color: rgba(255, 255, 255, 0.068);
    color: white;
    outline: none;
    border: none;
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.viewDiv .viewPlace::-webkit-scrollbar{
    display: none;
}
/*examples*/
.examplesDiv{
    overflow-x: hidden;
    overflow-y: scroll;
}
.examplesDiv::-webkit-scrollbar{
    display: none;
}
.examplesDiv ul{
    padding: 10px;
}
.examplesDiv ul:nth-child(1){
    margin-top: 10px;
}
.examplesDiv ul>li{
    display: block;
    background-color: rgb(36, 36, 36);
    font-size: 15px;
    padding: 5px;
    text-align: center;
    letter-spacing: 2px;
    color: white;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.examplesDiv ul>li:hover{
    background-color: rgb(59, 59, 59);
}

/*display*/
.displayDiv{
    position: absolute;
    left: 30vw;
    top: 0;
    width: 70vw;
    height: 100vh;
    background-color: rgb(34, 34, 34);
}
/*button list*/
.runButton{
    position: absolute;
    left: calc(30vw + 30px);
    top: 30px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    z-index: 1110;
    background-color: rgb(63, 63, 63);
    color: rgb(189, 189, 189);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    transform: rotate(90deg);
}
.runButton:hover{
    background-color: rgb(121, 121, 121);
    color: rgb(255, 255, 255);
    transform: rotate(0deg);
}