*{
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}
.codePlace,.outputPlace{
    display: block;
    position: absolute;
    top: 5vh;
    height: 90vh;
    width: 40vw;
    color: white;
    overflow: scroll;
}
.codePlace::-webkit-scrollbar,.outputPlace::-webkit-scrollbar{
    display: none;
}
.codePlace:hover{
    outline: none;
    border: none;
}
.codePlace{
    left: 5vw;
    background-color: rgb(24, 24, 24);
}
.outputPlace{
    left: 55vw;
    background-color: rgb(37, 37, 37);
}